<!-- about.html -->
{% extends 'base.html' %}
{% load markdown_deux_tags %}
{% block title %} Jia的隨手小記-關於我 {% endblock %}
{% block headmessage %}
    <h3>Jia Liu</h3>
<hr>
{% endblock %}
{% block content %}
Hi,I am Jia Liu. This my first blog.
<p>
    原本就想試著架個屬於自己的部落格，如今終於完成初版規劃，特別感謝<a href="http://codepen.io/jamestalmond/pen/vLoweP">James Thomas Almond</a>，
</p>
<p>
    當初在Codepen上看到，簡約的畫面完全把我吸引住，於是借用他的模組來完成部落格的大致結構。
</p>
<p>
    目前部落格的後端是以Django架構完成的，佈署在Heroku上面，而小弟我也是一位正在學習Python新手。
</p>
<p>
    前端部份原本就不是很熟悉，甚至不太會...很多問題都要請教我的朋友，也很感謝他都不厭其煩的解答，
</p>
<p>
    在此特別感謝我的好朋友<a href="https://codepen.io/LiuAnBoy/">AN</a>，有時間也可以常看他的作品學習,
</p>
<p>
    2017/04/02,
</p>
{% endblock %}
