<!-- base.html -->
<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<link rel="stylesheet" href="{% static 'css/header_logo.css' %}">
	<meta charset="utf-8">
    <title>
        {% block title %} {% endblock %}
    </title>
</head>
<body>
    <div class='container-fluid'>
        {% include 'header.html' %}
	</div>
	<div>
		<main class="main" role="main">
	        <div class="wrapper">
		        <article>
					<h3> {% block headmessage %} {% endblock %}</h3>
					<p><strong> {% block content %} {% endblock %}</strong></p>
		        </article>
			</div>
		</main>
	</div>
	<div class='container-fluid'>
		{% include 'footer.html' %}
	</div>
</body>
</html>