<!-- footer.html -->
{% block footer %}
<footer class="footer">
	<div class="wrapper">
		<nav class="navigation">
            <section class="navigation-item ib">
				Contact me by
				<a href="https://www.facebook.com/lhj1013" >Facebook</a> |
				<a href="https://github.com/AijuiL" >GitHub</a> |
				<a href="mailto:zx953159@gmail.com" >Email</a> |
				<a href="https://www.linkedin.com/in/%E7%B4%98%E5%98%89-%E5%8A%89-58778a121/" >LinkedIn</a>
            </section>
        </nav>
    </div>
</footer>
{% endblock %}