<!-- footer.html -->
{% block footer %}
<footer class="footer">
	<div class="wrapper">
		<nav class="navigation">
			<ul class="navigation-list ul-reset">
				<li class="navigation-item ib">
					<a href="#" class="navigation-link">
						Terms
					</a>
				</li>
				<li class="navigation-item ib">
					<a href="#" class="navigation-link">
						Privacy
					</a>
				</li>
				<li class="navigation-item ib">
					<a href="#" class="navigation-link">
						Sitemap
					</a>
				</li>
			</ul>
		</nav>
	</div>
</footer>
{% endblock %}