<!-- header.html -->
{% load staticfiles %}
<head>
    <link rel="stylesheet" href="{% static 'css/header_logo.css' %}">
</head>
<header class="header">
	<div class="wrapper">
		<h1 class="site-title">
			Jia Liu's Blog
		</h1>
	</div>
	<nav class="navigation">
		<div class="wrapper">
			<ul class="navigation-list ul-reset">
				<li class="navigation-item ib">
					<a href="/" class="navigation-link">
						Home
					</a>
				</li>
				<li class="navigation-item ib">
					<a href="/about" class="navigation-link">
						About
					</a>
				</li>
				<li class="navigation-item ib">
					<a href="/category" class="navigation-link">
						Category
					</a>
				</li>
				<li class="navigation-item ib">
					<a href="/archive" class="navigation-link">
						Archive
					</a>
				</li>

				<li class="navigation-item ib">
					<a href="/contact" class="navigation-link">
						Contact
					</a>
				</li>
				<li class="navigation-item ib">
					<a href="/admin" class="navigation-link">
						More
					</a>
				</li>
			</ul>
		</div>
	</nav>
</header>